<a href="https://colab.research.google.com/github/grandtranfers/BarraDeNavegacion/blob/main/PySpark_To_Do.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
!apt-get update

Get:1 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,626 B]
Get:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease [1,581 B]
Get:3 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ Packages [47.2 kB]
Hit:4 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:5 http://security.ubuntu.com/ubuntu jammy-security InRelease [110 kB]
Get:6 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  Packages [632 kB]
Get:7 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [119 kB]
Get:8 https://ppa.launchpadcontent.net/c2d4u.team/c2d4u4.0+/ubuntu jammy InRelease [18.1 kB]
Hit:9 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Get:10 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,016 kB]
Hit:11 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Get:12 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease [24.3 kB]
Hit:13 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:14 https://ppa.launchpadcontent.net/c2d4u.team/c2d4u4.0+/ubuntu jammy/main Sources [2,244 kB]
Get:15 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [1,521 kB]
Get:16 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [1,250 kB]
Get:17 http://security.ubuntu.com/ubuntu jammy-security/restricted amd64 Packages [1,472 kB]
Get:18 https://ppa.launchpadcontent.net/c2d4u.team/c2d4u4.0+/ubuntu jammy/main amd64 Packages [1,152 kB]
Get:19 http://archive.ubuntu.com/ubuntu jammy-updates/restricted amd64 Packages [1,498 kB]
Get:20 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,284 kB]
Get:21 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy/main amd64 Packages [39.5 kB]
Fetched 12.4 MB in 3s (4,952 kB/s)
Reading package lists... Done

In [5]:
# install java
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [6]:
# install spark (change the version number if needed)
!wget -q https://archive.apache.org/dist/spark/spark-3.0.0/spark-3.0.0-bin-hadoop3.2.tgz

In [7]:
# unzip the spark file to the current folder
!tar xf spark-3.0.0-bin-hadoop3.2.tgz

In [8]:
# set your spark folder to your system path environment.
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.0-bin-hadoop3.2"

In [9]:
# install findspark using pip
!pip install -q findspark

In [10]:
import findspark
findspark.init()

from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [11]:
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext

In [12]:
spark = SparkSession.builder.appName("Test_spark").master("local[*]").getOrCreate()
sqlCtx = SQLContext(sparkContext=spark.sparkContext, sparkSession=spark)
spark

Crea un dataframe con esquema de una tabla de clientes con 5 registros. Columnas obligatorias, nombre, edad, ciudad de origen y saldo. Puedes a√±adir las que consideres necesarias

In [15]:
data = [('luis',51,'Talara',5000),
        ('Andrea',14,'Piura',6200),
        ('Karina',43,'Colombia',7600),
        ('Patricia',55,'Supe',5750),
        ('Miguel',37,'Trujillo',2500),
        ('Andrea',45,'Arequipa',4500),
         ('Carlos',43,'Ayacucho',12000)]

columns=['Nombre','Edad','Ciudad','Saldo']

Crea el dataframe

In [16]:
df=spark.createDataFrame(data,columns)

# Visualiza el Dataframe

In [17]:
df.show()

+--------+----+--------+-----+
|  Nombre|Edad|  Ciudad|Saldo|
+--------+----+--------+-----+
|    luis|  51|  Talara| 5000|
|  Andrea|  14|   Piura| 6200|
|  Karina|  43|Colombia| 7600|
|Patricia|  55|    Supe| 5750|
|  Miguel|  37|Trujillo| 2500|
|  Andrea|  45|Arequipa| 4500|
|  Carlos|  43|Ayacucho|12000|
+--------+----+--------+-----+

In [18]:
df.show(2,truncate=2)

+------+----+------+-----+
|Nombre|Edad|Ciudad|Saldo|
+------+----+------+-----+
|    lu|  51|    Ta|   50|
|    An|  14|    Pi|   62|
+------+----+------+-----+
only showing top 2 rows

In [19]:
df.show(2,truncate=False,vertical=True)

-RECORD 0--------
 Nombre | luis
 Edad   | 51
 Ciudad | Talara
 Saldo  | 5000
-RECORD 1--------
 Nombre | Andrea
 Edad   | 14
 Ciudad | Piura
 Saldo  | 6200
only showing top 2 rows

# Cuenta el n√∫mero de registros.

In [20]:
df.count()

7

# Imprime el formato de sus datos.

In [21]:
df.printSchema()

root
 |-- Nombre: string (nullable = true)
 |-- Edad: long (nullable = true)
 |-- Ciudad: string (nullable = true)
 |-- Saldo: long (nullable = true)

# A√±ade una columna nueva.

In [22]:
df1=df.withColumn("Profesion", df.Edad*2 )
df1.show()

+--------+----+--------+-----+---------+
|  Nombre|Edad|  Ciudad|Saldo|Profesion|
+--------+----+--------+-----+---------+
|    luis|  51|  Talara| 5000|      102|
|  Andrea|  14|   Piura| 6200|       28|
|  Karina|  43|Colombia| 7600|       86|
|Patricia|  55|    Supe| 5750|      110|
|  Miguel|  37|Trujillo| 2500|       74|
|  Andrea|  45|Arequipa| 4500|       90|
|  Carlos|  43|Ayacucho|12000|       86|
+--------+----+--------+-----+---------+

# Cambia el nombre a otra columna.

In [23]:
df2=df1.withColumnRenamed("Profesion", "Oficio" )
df2.show()

+--------+----+--------+-----+------+
|  Nombre|Edad|  Ciudad|Saldo|Oficio|
+--------+----+--------+-----+------+
|    luis|  51|  Talara| 5000|   102|
|  Andrea|  14|   Piura| 6200|    28|
|  Karina|  43|Colombia| 7600|    86|
|Patricia|  55|    Supe| 5750|   110|
|  Miguel|  37|Trujillo| 2500|    74|
|  Andrea|  45|Arequipa| 4500|    90|
|  Carlos|  43|Ayacucho|12000|    86|
+--------+----+--------+-----+------+

# Filtra el df por un valor que est√© en el mismo.

In [24]:
df_select=df2.filter(df.Nombre== "Andrea")
df_select.show()

+------+----+--------+-----+------+
|Nombre|Edad|  Ciudad|Saldo|Oficio|
+------+----+--------+-----+------+
|Andrea|  14|   Piura| 6200|    28|
|Andrea|  45|Arequipa| 4500|    90|
+------+----+--------+-----+------+

# Muestra √∫nicamente las columnas que nos sirvan para identificar a los clientes.

In [25]:
df_select=df2.filter(df.Nombre!= "")
df_select=df2.filter(df.Edad!= "")
df_select.show()

+------+----+------+-----+------+
|Nombre|Edad|Ciudad|Saldo|Oficio|
+------+----+------+-----+------+
+------+----+------+-----+------+

# Cambia el nombre a una columna sin usar withColumnRenamed.

In [26]:
# Cambia el nombre de la columna sin withColumnRenamed
df_nuevonombre = df2.selectExpr("Nombre as nuevo_nombre", "Edad")
df_nuevonombre.show()

+------------+----+
|nuevo_nombre|Edad|
+------------+----+
|        luis|  51|
|      Andrea|  14|
|      Karina|  43|
|    Patricia|  55|
|      Miguel|  37|
|      Andrea|  45|
|      Carlos|  43|
+------------+----+

# Saca el cliente con el m√°ximo saldo disponible.

In [27]:
df2.groupBy().max("Saldo")
df2.show()

+--------+----+--------+-----+------+
|  Nombre|Edad|  Ciudad|Saldo|Oficio|
+--------+----+--------+-----+------+
|    luis|  51|  Talara| 5000|   102|
|  Andrea|  14|   Piura| 6200|    28|
|  Karina|  43|Colombia| 7600|    86|
|Patricia|  55|    Supe| 5750|   110|
|  Miguel|  37|Trujillo| 2500|    74|
|  Andrea|  45|Arequipa| 4500|    90|
|  Carlos|  43|Ayacucho|12000|    86|
+--------+----+--------+-----+------+

Otro ejemplo

In [29]:
df2.where(df2.Saldo == 3)
df2.show()

+--------+----+--------+-----+------+
|  Nombre|Edad|  Ciudad|Saldo|Oficio|
+--------+----+--------+-----+------+
|    luis|  51|  Talara| 5000|   102|
|  Andrea|  14|   Piura| 6200|    28|
|  Karina|  43|Colombia| 7600|    86|
|Patricia|  55|    Supe| 5750|   110|
|  Miguel|  37|Trujillo| 2500|    74|
|  Andrea|  45|Arequipa| 4500|    90|
|  Carlos|  43|Ayacucho|12000|    86|
+--------+----+--------+-----+------+

Muestra los registros √∫nicos.

In [30]:
# Muestra los registros √∫nicos
df_unicos = df2.distinct()

# Muestra el DataFrame resultante
df_unicos.show()

+--------+----+--------+-----+------+
|  Nombre|Edad|  Ciudad|Saldo|Oficio|
+--------+----+--------+-----+------+
|Patricia|  55|    Supe| 5750|   110|
|    luis|  51|  Talara| 5000|   102|
|  Karina|  43|Colombia| 7600|    86|
|  Andrea|  45|Arequipa| 4500|    90|
|  Miguel|  37|Trujillo| 2500|    74|
|  Carlos|  43|Ayacucho|12000|    86|
|  Andrea|  14|   Piura| 6200|    28|
+--------+----+--------+-----+------+


Crea otro dataframe productos (con su precio) y muestra qu√© producto se puede permitir cada cliente

In [31]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

# Inicializa la sesi√≥n de Spark
spark = SparkSession.builder.appName("example").getOrCreate()

# Crea el DataFrame de clientes
data_clientes = [("Cliente1", 1000),
                 ("Cliente2", 1500),
                 ("Cliente3", 1200)]

columns_clientes = ["Nombre", "Saldo"]
df_clientes = spark.createDataFrame(data_clientes, columns_clientes)

# Crea el DataFrame de productos con sus precios
data_productos = [("Producto1", 500),
                  ("Producto2", 1000),
                  ("Producto3", 800)]

columns_productos = ["Producto", "Precio"]
df_productos = spark.createDataFrame(data_productos, columns_productos)

# Realiza la uni√≥n (join) entre los DataFrames en funci√≥n del saldo disponible
df_resultado = df_clientes.crossJoin(df_productos)

# Filtra los productos que el cliente puede permitirse
df_resultado = df_resultado.filter(col("Saldo") >= col("Precio"))

# Muestra el resultado
df_resultado.show()

+--------+-----+---------+------+
|  Nombre|Saldo| Producto|Precio|
+--------+-----+---------+------+
|Cliente1| 1000|Producto1|   500|
|Cliente1| 1000|Producto2|  1000|
|Cliente1| 1000|Producto3|   800|
|Cliente2| 1500|Producto1|   500|
|Cliente3| 1200|Producto1|   500|
|Cliente2| 1500|Producto2|  1000|
|Cliente2| 1500|Producto3|   800|
|Cliente3| 1200|Producto2|  1000|
|Cliente3| 1200|Producto3|   800|
+--------+-----+---------+------+

In [34]:
data_clientes.join(data_productos, col("data_clientes.col1")>=col("data_productos.col1"), 'inner')

AttributeError: ignored

In [36]:
from pyspark.sql.functions import col
from pyspark.sql import Row
from pyspark.sql import functions as F

In [41]:
data_cantantes = [
Row(cantante_id=1, nombre_cantante='Adele', genero='Pop'),
Row(cantante_id=2, nombre_cantante='Ed Sheeran', genero='Pop'),
Row(cantante_id=3, nombre_cantante='Beyonc√©', genero='R&B'),
Row(cantante_id=4, nombre_cantante='Taylor Swift', genero='Pop'),
Row(cantante_id=5, nombre_cantante='Drake', genero='Hip Hop'),
Row(cantante_id=6, nombre_cantante='BTS', genero='Kpop'),
]

In [42]:
data_canciones = [
Row(cantante_id=1, cancion_id=101, nombre_cancion='Hello', duracion_seg=300),
Row(cantante_id=1, cancion_id=102, nombre_cancion='Rolling in the Deep', duracion_seg=240),
Row(cantante_id=2, cancion_id=103, nombre_cancion='Shape of You', duracion_seg=210),
Row(cantante_id=2, cancion_id=104, nombre_cancion='Photograph', duracion_seg=180),
Row(cantante_id=3, cancion_id=105, nombre_cancion='Single Ladies', duracion_seg=220),
Row(cantante_id=4, cancion_id=106, nombre_cancion='Blank Space', duracion_seg=260),
Row(cantante_id=5, cancion_id=107, nombre_cancion='Hotline Bling', duracion_seg=195),
Row(cantante_id=5, cancion_id=108, nombre_cancion='In My Feelings', duracion_seg=210),
Row(cantante_id=2, cancion_id=109, nombre_cancion='Thinking Out Loud', duracion_seg=230),
Row(cantante_id=2, cancion_id=109, nombre_cancion='Thinking Out Loud', duracion_seg=230),
Row(cantante_id=4, cancion_id=101, nombre_cancion='Hello', duracion_seg=300),
]

In [43]:
# Crear DataFrames a partir de los datos
df_cantantes = spark.createDataFrame(data_cantantes)
df_canciones = spark.createDataFrame(data_canciones)

In [25]:
# 1. ¬øCu√°l es el nombre de los cantantes y la duraci√≥n de sus canciones?

Cantantes=df_cantantes.join(df_canciones,"cantante_id","inner").show()
Cantantes

+-----------+---------------+-------+----------+-------------------+------------+
|cantante_id|nombre_cantante| genero|cancion_id|     nombre_cancion|duracion_seg|
+-----------+---------------+-------+----------+-------------------+------------+
|          5|          Drake|Hip Hop|       107|      Hotline Bling|         195|
|          5|          Drake|Hip Hop|       108|     In My Feelings|         210|
|          1|          Adele|    Pop|       101|              Hello|         300|
|          1|          Adele|    Pop|       102|Rolling in the Deep|         240|
|          3|        Beyonc√©|    R&B|       105|      Single Ladies|         220|
|          2|     Ed Sheeran|    Pop|       103|       Shape of You|         210|
|          2|     Ed Sheeran|    Pop|       104|         Photograph|         180|
|          2|     Ed Sheeran|    Pop|       109|  Thinking Out Loud|         230|
|          2|     Ed Sheeran|    Pop|       109|  Thinking Out Loud|         230|
|          4|   Taylor Swift|    Pop|       106|        Blank Space|         260|
|          4|   Taylor Swift|    Pop|       101|              Hello|         300|
+-----------+---------------+-------+----------+-------------------+------------+

In [46]:
cantante_duracion=df_cantantes.join(df_canciones,"cantante_id","inner").select("nombre_cantante","nombre_cancion","duracion_seg")
cantante_duracion.show()

+---------------+-------------------+------------+
|nombre_cantante|     nombre_cancion|duracion_seg|
+---------------+-------------------+------------+
|          Drake|      Hotline Bling|         195|
|          Drake|     In My Feelings|         210|
|          Adele|              Hello|         300|
|          Adele|Rolling in the Deep|         240|
|        Beyonc√©|      Single Ladies|         220|
|     Ed Sheeran|       Shape of You|         210|
|     Ed Sheeran|         Photograph|         180|
|     Ed Sheeran|  Thinking Out Loud|         230|
|     Ed Sheeran|  Thinking Out Loud|         230|
|   Taylor Swift|        Blank Space|         260|
|   Taylor Swift|              Hello|         300|
+---------------+-------------------+------------+

In [44]:
#otra forma
df_cantantes.join(df_canciones, on='cantante_id').select('nombre_cantante', 'nombre_cancion', 'duracion_seg').show()

+---------------+-------------------+------------+
|nombre_cantante|     nombre_cancion|duracion_seg|
+---------------+-------------------+------------+
|          Drake|      Hotline Bling|         195|
|          Drake|     In My Feelings|         210|
|          Adele|              Hello|         300|
|          Adele|Rolling in the Deep|         240|
|        Beyonc√©|      Single Ladies|         220|
|     Ed Sheeran|       Shape of You|         210|
|     Ed Sheeran|         Photograph|         180|
|     Ed Sheeran|  Thinking Out Loud|         230|
|     Ed Sheeran|  Thinking Out Loud|         230|
|   Taylor Swift|        Blank Space|         260|
|   Taylor Swift|              Hello|         300|
+---------------+-------------------+------------+

2.¬øCu√°l es la duraci√≥n total de todas las canciones?

In [54]:
duracion2= cantante_duracion.agg(F.sum(F.col("duracion_seg")))
duracion2.show()

+-----------------+
|sum(duracion_seg)|
+-----------------+
|             2575|
+-----------------+

In [46]:
#otra forma
total_duration = df_canciones.selectExpr('sum(duracion_seg) as duracion_total').collect()[0]['duracion_total']
print(f'La duraci√≥n total de todas las canciones: {total_duration} segundos')

La duraci√≥n total de todas las canciones: 2575 segundos

In [3]:
#Para ver el pa√≠s con mayor n√∫mero de medallas:
num_cancion=cantante_duracion.groupBy().agg(F.sum("duracion_seg"))

num_cancion.show()

NameError: ignored

3.
¬øCu√°ntas canciones tiene cada cantante?

In [2]:
num_cancion=cantante_duracion.groupBy("nombre_cantante").agg(F.count("nombre_cancion"))
num_cancion.show()

NameError: ignored

4.
¬øCu√°l es la canci√≥n m√°s larga de cada cantante?

In [1]:
from pyspark.sql.window import Window
from pyspark.sql import functions as F
from pyspark.sql.functions import max

ventana_por_cantante=Window.partitionBy("cantante_id")

solucion4 = data_canciones.withColumn("duracion_maxima", max("duracion_seg").over(ventana_por_cantante)) \
                          .filter(col("duracion_seg")==col("duracion_maxima"))\
                          .drop("duracion_maxima")

solucion4.show()

ModuleNotFoundError: ignored